.heading-brand img {
    width: 46px;
    height: 46px;
    margin: 0 0 0 8px;
}

.custom-margin {
    margin: 75px 0 65px 0;
}

.custom-container {
    min-width: -webkit-fill-available;
}

.image-container {
    background-color: transparent;
    border-radius: .45rem;
}

.image-container img {
    max-width: 100%;
    width: 950px !important;
    height: auto;
    align-self: center;
}

.desktop-interface-container img {
    width: 970px !important;
    border-radius: .45rem;
    box-shadow: 8px 8px 24px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

@media screen and (max-width: 576px) {
    .d-575-flex {
        display: -ms-flexbox !important;
        display: flex !important;;
    }
}

.meta-media-body {
    font-size: 1.2em !important;
}

.icon-box-inner img {
    width: 36px;
    height: 36px;
}

.bg-light {
    background: #e8e9ea !important;
}