.heading-brand img {
    width: 46px;
    height: 46px;
    margin: 0 0 0 8px;
}

.custom-margin {
    margin: 75px 0 65px 0;
}

.custom-container {
        min-width: -webkit-fill-available;
}


.image-container {
    background-color: transparent;
    border-radius: .45rem;
}

.image-container:hover {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 100%;
    width: 90% !important;
    max-height: 208px;
    width: auto;
    height: auto;
    align-self: center;
}

@media screen and (max-width: 576px){
    .d-575-flex {
        display: -ms-flexbox !important;
        display: flex !important; ;
    }
}

/*.image-block-mds {*/
/*    background-color: transparent;*/
/*    border-radius: .45rem;*/
/*    height: 208px;*/
/*    width: 100px;*/
/*    display: flex;*/
/*    padding: 1.52rem;*/
/*}*/

.meta-media-body {
    font-size: 1.2em !important;
}

.icon-box-inner img {
    width: 36px;
    height: 36px;
}

.bg-light {
    background: #e8e9ea !important;
}